---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
// import Experience from "../components/Experience.astro"; Doesn't need now
import ProjectCard from "../components/ProjectCard.astro";
import Education from "../components/Education.astro";
import { projects } from "../data/projects";

const popularProjects = projects.slice(0, 3);
---

<Layout title="Eldho Eapen | Portfolio">
	<main class="mx-auto max-w-5xl px-6 pb-20">
		<Hero />
		<Skills />
		<!-- <Experience />  -->
		<Education />

		<section id="projects" class="pt-24 space-y-12">
			<div class="flex items-center justify-between">
				<h2
					class="text-3xl font-bold text-gray-900 dark:text-white flex items-center gap-3"
				>
					<span class="text-primary-600 dark:text-primary-500"
						>04.</span
					> Popular Projects
				</h2>
				<div
					class="h-px bg-gray-200 dark:bg-dark-border flex-1 ml-6 hidden sm:block opacity-50"
				>
				</div>
			</div>

			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
				{
					popularProjects.map((project) => (
						<ProjectCard project={project} />
					))
				}
			</div>

			<div class="text-center pt-8">
				<a
					href="/projects"
					class="inline-flex items-center gap-2 text-primary-600 dark:text-primary-400 hover:text-primary-800 dark:hover:text-primary-300 font-medium transition-colors group"
				>
					View Full Project Archive
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="18"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="lucide lucide-arrow-right group-hover:translate-x-1 transition-transform"
						><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
						></path></svg
					>
				</a>
			</div>
		</section>

		<footer
			class="mt-32 pt-16 pb-8 border-t border-gray-200 dark:border-dark-border text-center"
		>
			<p class="text-gray-500 text-sm">
				&copy; {new Date().getFullYear()} Eldho Eapen. Built with Astro &
				TailwindCSS.
			</p>
		</footer>
	</main>
</Layout>
